# Weather
VITE_WEATHER_API_KEY=your_api_key_here
VITE_WEATHER_CURRENT_URL=https://api.openweathermap.org/data/2.5/weather
VITE_WEATHER_GEO_URL=https://api.openweathermap.org/geo/1.0/direct
VITE_WEATHER_FORECAST_URL=https://api.openweathermap.org/data/2.5/forecast/daily

# Unsplash
VITE_UNSPLASH_API_ACCESS_KEY=your_api_key_here
VITE_UNSPLASH_SEARCH_URL=https://api.unsplash.com/search/photos