.today-weather {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 2rem;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.35)
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  overflow: hidden;
  margin: 2rem 0;
}

.weather-details {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5rem;
}

.forecast {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.container {
  transition: opacity 0.3s ease;
}

.content-hidden {
  opacity: 0;
}

.content-visible {
  opacity: 1;
}
