.header {
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  position: sticky;
  top: 0;
  background-color: var(--light-background);
  padding: 0.5rem 1rem;
}

.header .logo {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--dark-font-color);
  font-style: italic;
  text-shadow: 5px 3px 2px rgba(0, 0, 0, 0.3);
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding-right: 0.8rem;
  box-shadow: var(--dark-shadow);
}

.search-bar input {
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  background-color: #f8f9fa;
  outline: none;
  font-family: var(--font-body);
  color: var(--dark-font-color);
}

.search-bar i {
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-bar i:hover {
  transform: scale(1.15);
}

.search-bar i:active {
  color: var(--light-font-color);
}
