.spinner-overlay {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 9999;

  

transition: opacity 0.3s ease;
}

.spinner {
  width: 55px;
  height: 55px;

  border: 2px solid var(--text-background);
  border-top: 2px solid var(--secondary-dark-background);

  border-radius: 50%;

  animation: spin 0.8s linear infinite;
}

.loading {
  opacity: 1;
  
}

.not-loading {
  opacity: 0;
  pointer-events: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
