
:root {
  --light-background: #E9ECEF;
  --dark-background: #001233;
  --light-font-color: #e9ecef;
  --dark-font-color: #002855;
  --dark-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  --font-heading: "Slabo 27px", serif;
  --font-body: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background-color: var(--light-background);
  color: var(--dark-font-color);
  padding: 0.5rem;
}
