:root {
  --light-background: #e9ecef;
  --text-background: rgba(255, 255, 255, 0.12);
  --primary-dark-background: #001233;
  --secondary-dark-background: #0353a4;
  --main-card-background: #001233d8;
  --small-card-background: #0353a4c4;

  --dark-font-color: #002855;

  --dark-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
  --title-shadow: 5px 3px 2px rgba(0, 0, 0, 0.15);

  --font-heading: "Slabo 27px", serif;
  --font-body: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background-color: var(--light-background);
  color: var(--dark-font-color);

  padding: 90px 2rem 70px 2rem;
}

i {
  width: 19px;
  height: 19px;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: var(--font-heading);
  text-shadow: var(--title-shadow);

  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
